/* Mobile view only for this workshop*/
main {
  max-width: 36rem; /* 576px: https://tailwindcss.com/docs/max-width */
  margin: 0 auto;
  overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}